body{
    background-color: #efae50;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #6a410f;
    font-family: 'Walter Turncoat', cursive;
}

.dropbtn2 {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #6a410f;
    font-family: 'Walter Turncoat', cursive;
}

/* The container <div> - needed to position the dropdown content */
#controls {
    position: fixed;
    display: inline-block;
    right:25%;
    top:10%;
}

#controls2 {
    position: fixed;
    display: inline-block;
    right: 12%;
    top:10%;
}

/* Dropdown Content (Hidden by Default) */
#sort {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 116px;
    z-index: 1;
}

#filter {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 116px;
    z-index: 1;
}

/* Links inside the dropdown */
#sort a {
    color: #6a410f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Walter Turncoat', cursive;
}

#filter a {
    color: #6a410f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Walter Turncoat', cursive;
}

/* Change color of dropdown links on hover */
#sort a:hover {background-color: #f2f24e}

#filter a:hover {background-color: #f2f24e}

/* Show the dropdown menu on hover */
#controls:hover #sort {
    display: block;
}

#controls2:hover #filter {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#controls:hover .dropbtn {
    background-color: transparent;
}

#controls2:hover .dropbtn2 {
    background-color: transparent;
}

#holder{
    position: absolute;
    display: grid;
    width:;
    height:;
    left:;
    top:;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7%;
}

/*h1{
    padding: 30px;
    margin: auto 50%;
}*/


.toilet{
    position: fixed;
    left:0;
    top: -8%;
    width: 65%;
    height: 120%;
}

.parts{
    width: 120px;
    height: 120px;
}

.toilet_paper{
    position: fixed;
    z-index: -2;
    right: 5.5%;
    top: 0%;
    width: 200px;
    height: 264px;
}

.toilet_paper2{
    position: fixed;
    z-index: -3;
    right: 17.59%;
    top: 0%;
    width: 200px;
    height: 264px;
}

.about{
    position: fixed;
    right: 6%;
    top: 50%;
    width: 30%;
    text-align: center;
    color: #6a410f;
    font-family: 'Walter Turncoat', cursive;

}







